<app-navbar></app-navbar>
<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
  
        <div class=" h-75 position-relative" style="height: 700px;">
  
          <ul class="list-unstyled">
            <div style="height: 400px;" class="overflow-auto">
                <li class="d-flex justify-content-between mb-4">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between p-2">
                        <p class="mb-0">Nombre1: "comentario con un texto de larga cantidad para que ocupe varias lineas"</p>
                        </div>
                    </div>
                </li>
            </div>
            
            <div>
                <li class="bg-white mb-3 bottom-0">
                <div class="form-outline">
                    <textarea class="form-control" id="textAreaExample2" rows="4" placeholder="Comentario" style="max-height: 100px"></textarea>
                </div>
                </li>
                <button type="button" class="btn btn-info btn-rounded float-end">Send</button>
            </div>
          </ul>
  
        </div>
  
      </div>
  
    </div>
  </section>
<app-footer></app-footer>