<div class="card gedf-card">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">I see you when you're down
            And depressed, just a mess
            I see you when you cry
            When you're shy
            When you want to die
            I see you when you smile
            It takes a while
            At least you're here
            I see you
            Yes, I see you
            I'm alone with you
            You're alone with me
            I see you when you hide
            And when you lie, it's no surprise
            I see you when run from the light
            Within your eyes</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
<br>