<div class="card">
    <div class="card-body">
        <div class="h5">@LeeCross</div>
        <div class="h7 text-muted">Nombre completo : Miracles Lee Cross</div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">Seguidores</div>
            <div class="h5">5.2342</div>
        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">Siguiendo</div>
            <div class="h5">6758</div>
        </li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>