<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://portal.educoas.org/sites/default/files/partners/logos/upb-01%20%281%29.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Reestablecer Contraseña</p>
            </div>
              <br>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example5" class="form-control form-control-lg"
                placeholder="Ingresar contraseña nueva" formControlName="passwd" required />
              <label class="form-label" for="form3Example5">Contraseña</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example6" class="form-control form-control-lg"
                placeholder="Ingresar denuevo contraseña" formControlName="passwd2" required />
              <label class="form-label" for="form3Example6">Repetir Contraseña</label>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit">Reestablecer Contraseña</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </section>
