<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="people-nearby">
        <br>
        <h2>Mis Grupos</h2>
        <div class="nearby-user">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="profile-photo-lg">
            </div>
            <div class="col-md-7 col-sm-7">
              <h5><a href="/grupo" class="profile-link">Grupo 1</a></h5>
            </div>
            <div class="col-md-3 col-sm-3">
                <button class="btn btn-danger pull-right">Salir</button>
            </div>
          </div>
        </div>
        <h2>Recomendados</h2>
        <div class="nearby-user">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="user" class="profile-photo-lg">
            </div>
            <div class="col-md-7 col-sm-7">
              <h5><a href="/grupo" class="profile-link">Grupo 2</a></h5>
            </div>
            <div class="col-md-3 col-sm-3">
                <button class="btn btn-primary pull-right">Unirse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>