<app-navbar></app-navbar>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <app-info-perfil></app-info-perfil>
        </div>
        <div class="col-md-6 gedf-main">
            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <app-publish-post></app-publish-post>
            </div>
            <!-- Post /////-->
            
            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <app-post></app-post>
            </div>
            <!-- Post /////-->
            
        </div>
        <div class="col-md-3">
            <app-tarjeta></app-tarjeta>
            <app-tarjeta></app-tarjeta>
            
        </div>
    </div>
</div>
<app-footer></app-footer>